In [1]:
import requests
import pandas as pd

The data comes from https://www.data.gouv.fr/fr/datasets/r/dc3c9f86-cf5d-4625-acb3-178cbae894bc

In [2]:
df_sirene = pd.read_csv('../data/StockEtablissement_mai2020.csv', chunksize = 10000)

In [4]:
col_of_interest = ['siret','enseigne1Etablissement','codePostalEtablissement']

In [5]:
cp_restaurant = pd.DataFrame()
for df_c in df_sirene:
    cp_restaurant = pd.concat([cp_restaurant,df_c[df_c['activitePrincipaleEtablissement']== '56.10A'][col_of_interest]])

In [6]:
cp_restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276666 entries, 12558 to 29747296
Data columns (total 3 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   siret                    276666 non-null  int64
 1   enseigne1Etablissement   124778 non-null  object
 2   codePostalEtablissement  276520 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ MB

In [7]:
cp_restaurant.head()

               siret enseigne1Etablissement  codePostalEtablissement
12558  1555034600017   LE CINTRA - L'ADAGIO                  21000.0
12559  1555034600025           LA TRATTORIA                  73440.0
13201  1565125000019                    NaN                  21000.0
14480  1605002300015                    NaN                  21210.0
14481  1605002300023       LOISEAU DES SENS                  21210.0

In [8]:
cp_restaurant.to_csv('../data/info_restaurants.csv')